DB_HOST=sql7.freesqldatabase.com
DB_PORT=3306
DB_USER=sql7833304
DB_PASSWORD=
DB_NAME=sql7833304
AUTH_SECRET=vervang_dit_door_een_lang_willekeurig_geheim_van_minimaal_32_tekens
OWNER_EMAIL=beheer@klushulpnoord.nl
OWNER_PASSWORD=VeranderDitSterkeWachtwoord123!
NEXT_PUBLIC_APP_NAME=KlusHulp Noord Administratie
